form.js-script
  fieldset
    legend Create a Bookmarklet

    label(for="raw") JavaScript
    textarea#raw.span6(name="raw", rows="10", placeholder="window.alert('Hello World!');").
      window.alert('Hello World!');

    label(for="name") Bookmarklet Name
    input#name.js-name(name="name", type="text", placeholder="Awesome-ify")

    button.pull-right.btn(type="submit") Bookmarkletify
