form.js-script
  fieldset
    legend Create a Bookmarklet

    label(for="raw") JavaScript
    textarea#raw.span6(name="raw", rows="10", placeholder="window.alert('Hello World!');").
      window.alert('Hello World!');

    label(for="name") Bookmarklet Name
    input#name.js-name(name="name", type="text", placeholder="Awesome-ify")

    button.pull-right.btn(type="submit") Create Bookmarklet

.js-bookmarklet-container
  a.btn.btn-primary.js-bookmarklet(href="javascript:alert('You have to save it first!')") Your Bookmarklet Goes Here
  p That's your bookmarklet! You can click it to test it and put it in your bookmarks bar to use it anywhere!
  p P.S. Our end goal is to allow you to share this bookmarklet with others.
