!!! 5
html(lang='pt-BR')
  head
    meta(charset='UTF-8')
    title bookmarkleteer
    link(href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Acme', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='assets/css/core.css')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/bootstrap-responsive.min.css')
    script(src="http://localhost:35729/livereload.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/pakmanaged.js')
  body
    header.container
      .row
        .span6
          h2 bookmarkleteer
        .js-test-container.span6
          h2
            span Ahoy Cap'n: 
            a.btn.btn-primary.js-bookmarklet(href="javascript:alert('You have to save it first!')") Not Ready
      .clearfix

    .container
      .row
        section.main.span6
          include form

        section.span6
          include test
          include share
