!!! 5
html(lang="en")
  head
    meta(charset="UTF-8")
    title Bookmarkleteer: Create and Share Bookmarklets Online
    meta(name="description", content="Create and share your own Bookmarklets - little (or big) bits of JavaScript that you can load on any page from your Bookmarks bar - online!")
    link(href="http://fonts.googleapis.com/css?family=Pathway+Gothic+One", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Acme", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="assets/css/core.css")
    link(rel="stylesheet", href="assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/css/bootstrap-responsive.min.css")
    script(src="http://localhost:35729/livereload.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="assets/js/bootstrap.min.js")
    script(src="assets/js/pakmanaged.js")
  body
    header.container
      .row
        .span6
          h2 
            a(src="/")
              img(src="images/bookmarklet-icon.png", style="height: 32px;")
              span  
              span Bookmarkleteer
      .clearfix

    .container
      .row
        section
          .span6
            //-(style="padding-right: 5px; margin-right: -6px; border-right: 1px solid #e3e3e3;")
            include form
            include product

        section.span6
          include publish
          include howto

    footer.footer
      .container
        ul.footer-links
          li
            a(href="https://github.com/coolaj86/bookmarkleteer") Fork on Github
          li.muted •
          li
            a(href="https://github.com/coolaj86/bookmarkleteer/issues") Report Bugs
          li.muted •
          li
            a(href="http://marijnhaverbeke.nl/uglifyjs") UglifyJS
          li.muted •
          li
            a(href="http://jshint.com/") JSHint
      
          p
            span Code licensed under  
            a(href="http://www.apache.org/licenses/LICENSE-2.0") Apache License v2.0
            span , documentation under
            a(href="http://creativecommons.org/licenses/by/3.0/") CC BY 3.0
