!!! 5
html(lang='pt-BR')
  head
    meta(charset='UTF-8')
    title bookmarkleteer
    link(href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Acme', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='assets/css/core.css')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/bootstrap-responsive.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/pakmanaged.js')
  body
    header.top
      h1 bookmarkleteer
      a.icon1(href='#')
        img(src='assets/img/Facebook.png', alt='')
      a.icon2(href='#')
        img(src='assets/img/twitter.jpg', alt='')
      hr

    section.main
      form
        #about
          h3 Create a Bookmarklet
        .content
          input(type='text', placeholder='name')
          textarea(rows='10', placeholder='Past Code Here')
        .contentArea
          textarea(rows='5', placeholder='Description')
        .bt
          button.btn(type='button') Save & Share
          input.chekbox(type='checkbox')
          p Inline Script

    section.masthead
      h4 Share:
      a(href='#') http://bookmarkleteer.com/jquerify
      .networking
        a.net1(href='#')
          img(src='assets/img/Facebook.png', alt='')
        a.net2(href='#')
          img(src='assets/img/twitter.jpg', alt='')
      .edit
        h4 Edit:
        a(href='#') http://bookmarkleteer.com/jquerify/editing

    footer
      .container
        .progress.progress-striped.active
          .bar(style='width: 50%;')
