.js-product-container
  h2.js-name Letterpress Fingerstache
  a.js-bookmarklet.btn.btn-primary(href="javascript:alert('3 wolf moon organic');") Letterpress Fingerstache
  small
    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a.text-warning(href="javascript:alert('not implemented');") flag as inappropriate
  p
  p.text-info Drag and Drop this button to your bookmarks bar to use it on any site.
  p
  p.js-description Pour-over Carles Neutra, McSweeney's organic readymade 3 wolf moon gastropub sriracha butcher. YOLO keffiyeh Austin swag trust fund. DIY american apparel art party, VHS before they sold out selfies dreamcatcher thundercats you probably haven't heard of them.
  //- social likes / shares
  p
    small.text-error
      strong Warning
      span : Never use a bookmarklet on a 
      strong  bank or government 
      span website or any other site or app with sensitive information. 
      span In general, 
      strong don't take candy from strangers
      span
        | .
