.js-product-container
  h2.js-name Hipster Ipsum
  p.js-description Pour-over Carles Neutra, McSweeney's organic readymade 3 wolf moon gastropub sriracha butcher. YOLO keffiyeh Austin swag trust fund. DIY american apparel art party, VHS before they sold out selfies dreamcatcher thundercats you probably haven't heard of them.
  a.btn.btn-primary(href="javascript:alert('3 wolf moon organic');") letterpress fingerstache
  //- social likes / shares
