.js-share-container
  form.form-horizontal
    #about
      h3 Share your Bookmarklet
    .control-group
      p Drag and Drop this Button to your Bookmarks Bar to use it anywhere!
      p
        a.btn.js-bookmarklet(href="javascript:alert('You have to save it first!')") Not Ready
      p (you can click on it here to test it)

    .control-group
      label.control-label(for="description") Description
      .controls
        textarea#inputEmail(name="description", type="text", rows="10", placeholder="Let people know why they would want this...").

    .control-group
      .controls
        label.checkbox
          input.js-inline(name="inline", type="checkbox")
          | Inline Script
        button.btn(type="submit") Save

    section.masthead
        h4 Share:
        a(href='#') http://bookmarkleteer.com/jquerify
      .networking
        a.net1(href='#')
          img(src='assets/img/Facebook.png', alt='')
        a.net2(href='#')
          img(src='assets/img/twitter.jpg', alt='')
      .edit
        h4 Edit:
        a(href='#') http://bookmarkleteer.com/jquerify/editing
