.js-test-container
  form
    fieldset

      legend Want to share your work?
      label(for="description") Add a description
      textarea#description.span6(name="description", rows="3", placeholder="What does it do? Why would anyone want it?").

      label.checkbox
        input.js-inline(name="inline", type="checkbox")
        | Inline Script
      button.js-share-it.btn(type="submit") Get Shareable Links
