.js-test-container
  p Drag and Drop this Button to your Bookmarks Bar to use it anywhere!
  p
    a.btn.js-bookmarklet(href="javascript:alert('You have to save it first!')") Not Ready
  p (you can click on it here to test it)
  p
    a.js-share-it(href="#") Want to share it?
