doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    h1= title
    p
      span Welcome aboard! Visit 
      a(href="http://locomotivejs.org/") locomotivejs.org
      span  for details.
